@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  background: #232946;
  /* background: -webkit-linear-gradient(to bottom, #c06c84, #6c5b7b, #355c7d);
  background: linear-gradient(to bottom, #c06c84, #6c5b7b, #355c7d); */
}

header {
  padding: 10px 50px;
}

header > h1 {
  font-size: 2em;
  color: #fffffe;
}

.container {
  margin: 15% auto;
  display: grid;
  grid-template-rows: auto;
  align-content: start;
  gap: 30px;
  width: 95%;
}

#addForm {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 15px;
}

#addForm > input {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #121629;
  outline: none;
}
.addInput {
}

.addInput::placeholder {
  color: dimgrey;
}

.addInput:focus::placeholder {
  opacity: 0;
}

.addButton {
  color: #232946;
  background-color: #ff8906;
  cursor: pointer;
}

.listContainer {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;

  gap: 25px;
}

#itemList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#itemList > li {
  list-style: none;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr auto;
  border: 3px #121629 solid;
  padding: 15px;
  color: #232946;
  background-color: #d4d8f0;
  border-radius: 15px;
}

#itemList span {
  font-size: 1.5em;
}

#itemList > li > div {
  align-self: center;
}

#itemList img {
  width: 16px;
  height: 16px;
}

.showDelete {
  color: #ffffff;
  background-color: #e53170;
  padding: 5px 15px;
  border-radius: 15px;
  outline: none;
  border: none;
  width: fit-content;
  justify-self: end;
  cursor: pointer;
}
.showDelete:hover {
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

@media (min-width: 1024px) {
}
